@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.default-btn {
  @apply select-none shadow-md border-2 border-primary bg-primary px-5 py-2 rounded-full text-white transition hover:bg-yellow-400 hover:border-yellow-400 hover:scale-105 transform active:scale-75 focus:ring-2 focus:ring-offset-2 focus:ring-primary focus:outline-none disabled:opacity-40;
}

.secondary-btn {
  @apply select-none shadow-md border-2 border-primary bg-transparent px-5 py-2 rounded-full text-primary transition hover:bg-yellow-400 hover:border-yellow-400 hover:text-white hover:scale-105 transform active:scale-75 focus:outline-none disabled:opacity-40;
}

.md-image img {
  @apply rounded-md shadow-lg border;
}
